@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewContext.HttpContext.Session.GetString("mitom2trung")</h3>

<p>Use this page to detail your site's privacy policy.</p>
